.banner {
  position: relative;

  display: flex;
  padding: 15px 27px 24px 45px;

  .banner-rapsberry__background,
  .banner-chocolate__background {
    position: absolute;
    top: 0px;
    z-index: -1;
  }

  .banner-rapsberry__background {
    left: 27px;
  }

  .banner-chocolate__background {
    right: 27px;
  }

  .banner-rapsberry,
  .banner-chocolate {
    display: flex;
    flex-direction: column;
    width: 520px;
  }

  .banner-rapsberry {
    margin-right: 66px;
  }

  .banner__title {
    margin: 0px;
    padding: 0px;
    margin-bottom: 16px;

    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    letter-spacing: -0.6px;
  }

  .banner__description {
    margin: 0px;
    padding: 0px;
    margin-bottom: 43px;

    font-weight: bold;
    font-size: 18px;
    letter-spacing: -0.4px;
  }

  .banner__button {
    margin-left: auto;
    padding: 11px 20px;

    border-radius: 25px;

    span {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -0.4px;
    }
  }
}
