::-webkit-input-placeholder {
  color: #d3d3d2; }

::-moz-placeholder {
  color: #d3d3d2; }

:-moz-placeholder {
  color: #d3d3d2; }

:-ms-input-placeholder {
  color: #d3d3d2; }

.button {
  border: none;
  color: #ffffff;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e84c36));
  background: linear-gradient(to bottom, #f26843, #e84c36);
  -webkit-box-shadow: 0px 2px 5px 0px #b0350f;
          box-shadow: 0px 2px 5px 0px #b0350f;
  cursor: pointer;
  outline: none; }

.button:hover,
.button:focus {
  background: #f17c64; }

.button:active {
  background: -webkit-gradient(linear, left bottom, left top, from(#f26843), to(#e84c36));
  background: linear-gradient(to top, #f26843, #e84c36);
  -webkit-box-shadow: inset 0px 2px 5px 0px #b0350f;
          box-shadow: inset 0px 2px 5px 0px #b0350f; }

.header {
  position: relative; }
  .header .logo {
    position: absolute;
    top: 9px;
    left: 17px; }
    .header .logo .logo__icon {
      width: 175px;
      height: 64px; }

.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px; }
  .top-menu .top-menu__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
    padding: 29px 10px 29px 192px;
    letter-spacing: -0.4px;
    list-style: none; }
    .top-menu .top-menu__left .left__item:first-child {
      position: relative; }
    .top-menu .top-menu__left .left__item:last-child {
      text-transform: capitalize; }
    .top-menu .top-menu__left .left__item {
      margin-right: 0px; }
      .top-menu .top-menu__left .left__item .left__link {
        padding: 0px 14px;
        font-weight: bold;
        color: #ffffff;
        text-decoration: none;
        background-color: transparent;
        outline: none; }
        .top-menu .top-menu__left .left__item .left__link .left__description {
          border-bottom: 1px solid #adbdb4; }
      .top-menu .top-menu__left .left__item .left__catalog {
        position: absolute;
        top: 32px;
        left: -8px;
        display: none;
        padding: 0px;
        margin: 0px;
        border-radius: 4px;
        list-style: none;
        background-color: #ffffff;
        z-index: 5; }
      .top-menu .top-menu__left .left__item .left__link:not(.left__link--active):hover,
      .top-menu .top-menu__left .left__item .left__link:not(.left__link--active):focus {
        padding: 8px 14px;
        border-radius: 17px;
        color: #000000;
        background-color: #F7F6F3; }
        .top-menu .top-menu__left .left__item .left__link:not(.left__link--active):hover .left__description,
        .top-menu .top-menu__left .left__item .left__link:not(.left__link--active):focus .left__description {
          border-bottom: none; }
      .top-menu .top-menu__left .left__item .left__link:not(.left__link--active):active {
        -webkit-box-shadow: inset 0px 2px 1px #696969;
                box-shadow: inset 0px 2px 1px #696969; }
        .top-menu .top-menu__left .left__item .left__link:not(.left__link--active):active .left__description {
          border-bottom: none; }
      .top-menu .top-menu__left .left__item .left__link--active {
        padding: 8px 14px;
        border-radius: 17px;
        background-color: #D07058; }
        .top-menu .top-menu__left .left__item .left__link--active .left__description {
          border-bottom: none; }
    .top-menu .top-menu__left li:hover .left__catalog,
    .top-menu .top-menu__left li:focus .left__catalog {
      display: block; }
      .top-menu .top-menu__left li:hover .left__catalog .left__catalog-title,
      .top-menu .top-menu__left li:hover .left__catalog .left__catalog-link,
      .top-menu .top-menu__left li:focus .left__catalog .left__catalog-title,
      .top-menu .top-menu__left li:focus .left__catalog .left__catalog-link {
        display: block;
        font-size: 14px;
        line-height: 16px;
        color: #000000; }
      .top-menu .top-menu__left li:hover .left__catalog .left__catalog-title,
      .top-menu .top-menu__left li:focus .left__catalog .left__catalog-title {
        position: relative;
        padding: 10px 65px 11px 21px;
        font-weight: bold; }
      .top-menu .top-menu__left li:hover .left__catalog .left__catalog-title::after,
      .top-menu .top-menu__left li:focus .left__catalog .left__catalog-title::after {
        content: "";
        position: absolute;
        left: 8px;
        bottom: 0px;
        width: 128px;
        height: 1px;
        background-color: #d1d0ce; }
      .top-menu .top-menu__left li:hover .left__catalog .left__catalog-link,
      .top-menu .top-menu__left li:focus .left__catalog .left__catalog-link {
        padding: 8px 21px;
        text-decoration: none; }
      .top-menu .top-menu__left li:hover .left__catalog .left__catalog-link:hover,
      .top-menu .top-menu__left li:hover .left__catalog .left__catalog-link:focus,
      .top-menu .top-menu__left li:hover .left__catalog .left__catalog-item--active,
      .top-menu .top-menu__left li:focus .left__catalog .left__catalog-link:hover,
      .top-menu .top-menu__left li:focus .left__catalog .left__catalog-link:focus,
      .top-menu .top-menu__left li:focus .left__catalog .left__catalog-item--active {
        background-color: #fbded7; }
      .top-menu .top-menu__left li:hover .left__catalog .left__catalog-link:active,
      .top-menu .top-menu__left li:focus .left__catalog .left__catalog-link:active {
        background-color: #f6b5a5; }
      .top-menu .top-menu__left li:hover .left__catalog .left__catalog-link--on-page,
      .top-menu .top-menu__left li:focus .left__catalog .left__catalog-link--on-page {
        background-color: #d07058; }
  .top-menu .top-menu__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
    padding: 28px 14px 26px 10px;
    list-style: none; }
    .top-menu .top-menu__right .right__item .right__link {
      padding: 8px 16px 8px 45px;
      border-radius: 17px;
      font-family: "Roboto-Medium", "Arial", sans-serif;
      font-size: 14px;
      line-height: 16px;
      color: #ffffff;
      text-decoration: none;
      background-color: #9eb2a7;
      outline: none; }
    .top-menu .top-menu__right .right__item .form-search {
      position: absolute;
      top: 29px;
      right: 0px;
      display: none;
      z-index: 5; }
    .top-menu .top-menu__right .right__item .form-account {
      position: absolute;
      top: 29px;
      right: 0px;
      display: none;
      z-index: 5; }
    .top-menu .top-menu__right li:hover .form-search,
    .top-menu .top-menu__right li:focus .form-search {
      display: block; }
      .top-menu .top-menu__right li:hover .form-search .form-search__container,
      .top-menu .top-menu__right li:focus .form-search .form-search__container {
        padding: 20px 17px;
        border-radius: 5px;
        background-color: #f8f7f4; }
        .top-menu .top-menu__right li:hover .form-search .form-search__container input[type="search"],
        .top-menu .top-menu__right li:focus .form-search .form-search__container input[type="search"] {
          padding: 11px 16px;
          border: 1px solid #d3d3d2;
          border-radius: 5px;
          width: 307px;
          font-size: 14px;
          line-height: 24px;
          color: #000000;
          outline: none; }
        .top-menu .top-menu__right li:hover .form-search .form-search__container input[type="search"]:hover,
        .top-menu .top-menu__right li:focus .form-search .form-search__container input[type="search"]:hover {
          padding: 10px 15px;
          border: 2px solid #c7c6c5; }
        .top-menu .top-menu__right li:hover .form-search .form-search__container input[type="search"]:focus,
        .top-menu .top-menu__right li:hover .form-search .form-search__container input[type="search"]:active,
        .top-menu .top-menu__right li:focus .form-search .form-search__container input[type="search"]:focus,
        .top-menu .top-menu__right li:focus .form-search .form-search__container input[type="search"]:active {
          padding: 10px 15px;
          border: 2px solid #8fbdec; }
    .top-menu .top-menu__right li:hover .form-account,
    .top-menu .top-menu__right li:focus .form-account {
      display: block; }
      .top-menu .top-menu__right li:hover .form-account .form-account__container,
      .top-menu .top-menu__right li:focus .form-account .form-account__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 20px 18px;
        border-radius: 5px;
        background-color: #f8f7f4; }
        .top-menu .top-menu__right li:hover .form-account .form-account__container input[type="text"],
        .top-menu .top-menu__right li:hover .form-account .form-account__container input[type="password"],
        .top-menu .top-menu__right li:focus .form-account .form-account__container input[type="text"],
        .top-menu .top-menu__right li:focus .form-account .form-account__container input[type="password"] {
          margin-bottom: 20px;
          padding: 9px 13px;
          border: 1px solid #d3d3d2;
          border-radius: 5px;
          width: 241px;
          font-size: 14px;
          line-height: 24px;
          outline: none; }
        .top-menu .top-menu__right li:hover .form-account .form-account__container input[type="text"]:hover,
        .top-menu .top-menu__right li:hover .form-account .form-account__container input[type="password"]:hover,
        .top-menu .top-menu__right li:focus .form-account .form-account__container input[type="text"]:hover,
        .top-menu .top-menu__right li:focus .form-account .form-account__container input[type="password"]:hover {
          padding: 8px 12px;
          border: 2px solid #c7c6c5; }
        .top-menu .top-menu__right li:hover .form-account .form-account__container input[type="text"]:active,
        .top-menu .top-menu__right li:hover .form-account .form-account__container input[type="password"]:active,
        .top-menu .top-menu__right li:hover .form-account .form-account__container input[type="text"]:focus,
        .top-menu .top-menu__right li:hover .form-account .form-account__container input[type="password"]:focus,
        .top-menu .top-menu__right li:focus .form-account .form-account__container input[type="text"]:active,
        .top-menu .top-menu__right li:focus .form-account .form-account__container input[type="password"]:active,
        .top-menu .top-menu__right li:focus .form-account .form-account__container input[type="text"]:focus,
        .top-menu .top-menu__right li:focus .form-account .form-account__container input[type="password"]:focus {
          padding: 8px 12px;
          border: 2px solid #8fbdec; }
        .top-menu .top-menu__right li:hover .form-account .form-account__container .form-account__item:last-child,
        .top-menu .top-menu__right li:focus .form-account .form-account__container .form-account__item:last-child {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .top-menu .top-menu__right li:hover .form-account .form-account__container .form-account__item:last-child .form-account__button,
          .top-menu .top-menu__right li:focus .form-account .form-account__container .form-account__item:last-child .form-account__button {
            padding: 5px 25px;
            border-radius: 25px; }
          .top-menu .top-menu__right li:hover .form-account .form-account__container .form-account__item:last-child .form-account__links,
          .top-menu .top-menu__right li:focus .form-account .form-account__container .form-account__item:last-child .form-account__links {
            padding: 5px 5px 5px 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column; }
            .top-menu .top-menu__right li:hover .form-account .form-account__container .form-account__item:last-child .form-account__links a,
            .top-menu .top-menu__right li:focus .form-account .form-account__container .form-account__item:last-child .form-account__links a {
              text-decoration: none; }
              .top-menu .top-menu__right li:hover .form-account .form-account__container .form-account__item:last-child .form-account__links a span,
              .top-menu .top-menu__right li:focus .form-account .form-account__container .form-account__item:last-child .form-account__links a span {
                border-bottom: 1px solid #b2b2b2;
                font-size: 13px;
                color: #000000; }
            .top-menu .top-menu__right li:hover .form-account .form-account__container .form-account__item:last-child .form-account__links a:hover span,
            .top-menu .top-menu__right li:hover .form-account .form-account__container .form-account__item:last-child .form-account__links a:focus span,
            .top-menu .top-menu__right li:hover .form-account .form-account__container .form-account__item:last-child .form-account__links a:active span,
            .top-menu .top-menu__right li:focus .form-account .form-account__container .form-account__item:last-child .form-account__links a:hover span,
            .top-menu .top-menu__right li:focus .form-account .form-account__container .form-account__item:last-child .form-account__links a:focus span,
            .top-menu .top-menu__right li:focus .form-account .form-account__container .form-account__item:last-child .form-account__links a:active span {
              border-bottom-color: #f9cdc4;
              color: #e84d37; }
    .top-menu .top-menu__right .right__item:first-child {
      position: relative; }
      .top-menu .top-menu__right .right__item:first-child .right__link {
        padding: 24px 8px 8px 8px;
        border-radius: 50%;
        font-size: 0px;
        line-height: 0px; }
      .top-menu .top-menu__right .right__item:first-child .icon-search {
        width: 17px;
        height: 17px;
        fill: #ffffff; }
    .top-menu .top-menu__right .right__item:nth-child(2) {
      position: relative; }
      .top-menu .top-menu__right .right__item:nth-child(2) .icon-enter {
        position: absolute;
        left: 10px;
        width: 29px;
        height: 27px;
        fill: #ffffff; }
    .top-menu .top-menu__right .right__item:nth-child(3) {
      position: relative; }
      .top-menu .top-menu__right .right__item:nth-child(3) .icon-bascket,
      .top-menu .top-menu__right .right__item:nth-child(3) .icon-bascket-full {
        position: absolute;
        left: 11px; }
      .top-menu .top-menu__right .right__item:nth-child(3) .icon-bascket {
        width: 29px;
        height: 28px; }
      .top-menu .top-menu__right .right__item:nth-child(3) .icon-bascket-full {
        width: 21px;
        height: 20px; }
    .top-menu .top-menu__right .right__item:not(:last-child) a:hover,
    .top-menu .top-menu__right .right__item:not(:last-child) a:focus {
      color: #000000;
      background-color: #ffffff; }
      .top-menu .top-menu__right .right__item:not(:last-child) a:hover .icon-search,
      .top-menu .top-menu__right .right__item:not(:last-child) a:hover .icon-enter,
      .top-menu .top-menu__right .right__item:not(:last-child) a:focus .icon-search,
      .top-menu .top-menu__right .right__item:not(:last-child) a:focus .icon-enter {
        fill: #000000; }
    .top-menu .top-menu__right .right__item {
      margin-right: 11px; }
      .top-menu .top-menu__right .right__item .right__link--active {
        color: #000000;
        background-color: #ffffff; }

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@font-face {
  font-family: "Roboto-Black";
  src: url(../fonts/Roboto-Black.ttf) format(ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-BlackItalic";
  src: url(../fonts/Roboto-BlackItalic.ttf) format(ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.ttf) format(ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-BoldItalic";
  src: url(../fonts/Roboto-BoldItalic.ttf) format(ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-Italic";
  src: url(../fonts/Roboto-Italic.ttf) format(ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto-Light.ttf) format(ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-LightItalic";
  src: url(../fonts/Roboto-LightItalic.ttf) format(ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf) format(ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-MediumItalic";
  src: url(../fonts/Roboto-MediumItalic.ttf) format(ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf) format(ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-Thin";
  src: url(../fonts/Roboto-Thin.ttf) format(ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-ThinItalic";
  src: url(../fonts/Roboto-ThinItalic.ttf) format(ttf);
  font-style: normal;
  font-weight: normal; }

html,
body {
  position: relative;
  margin: auto;
  width: 1200px;
  font-family: "Roboto-Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #000000; }

.fone-one {
  background-color: #849d8f; }

.fone-two {
  background-color: #8996a6; }

.fone-three {
  background-color: #9d8b84; }

/*# sourceMappingURL=style.css.map */
