::-webkit-input-placeholder {
  color: #d3d3d2; }

::-moz-placeholder {
  color: #d3d3d2; }

:-moz-placeholder {
  color: #d3d3d2; }

:-ms-input-placeholder {
  color: #d3d3d2; }

.button {
  border: none;
  color: #ffffff;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e84c36));
  background: linear-gradient(to bottom, #f26843, #e84c36);
  -webkit-box-shadow: 0px 2px 5px 0px #b0350f;
          box-shadow: 0px 2px 5px 0px #b0350f;
  cursor: pointer;
  outline: none; }

.button:hover,
.button:focus {
  background: #f17c64; }

.button:active {
  background: -webkit-gradient(linear, left bottom, left top, from(#f26843), to(#e84c36));
  background: linear-gradient(to top, #f26843, #e84c36);
  -webkit-box-shadow: inset 0px 2px 5px 0px #b0350f;
          box-shadow: inset 0px 2px 5px 0px #b0350f; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.header {
  position: relative; }
  .header .logo {
    position: absolute;
    top: 9px;
    left: 17px;
    outline: none; }
    .header .logo .logo__icon {
      width: 175px;
      height: 64px; }

.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px; }
  .top-menu .top-menu__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
    padding: 29px 10px 29px 192px;
    letter-spacing: -0.4px;
    list-style: none; }
    .top-menu .top-menu__left .left__item:first-child {
      position: relative; }
    .top-menu .top-menu__left .left__item:last-child {
      text-transform: capitalize; }
    .top-menu .top-menu__left .left__item {
      margin-right: 0px; }
      .top-menu .top-menu__left .left__item .left__link {
        padding: 0px 14px;
        font-weight: bold;
        color: #ffffff;
        text-decoration: none;
        background-color: transparent;
        outline: none; }
        .top-menu .top-menu__left .left__item .left__link .left__description {
          border-bottom: 1px solid #adbdb4; }
      .top-menu .top-menu__left .left__item .left__catalog {
        position: absolute;
        top: 32px;
        left: -8px;
        display: none;
        padding: 0px;
        margin: 0px;
        border-radius: 4px;
        list-style: none;
        background-color: #ffffff;
        z-index: 5; }
      .top-menu .top-menu__left .left__item .left__link:not(.left__link--active):hover,
      .top-menu .top-menu__left .left__item .left__link:not(.left__link--active):focus {
        padding: 8px 14px;
        border-radius: 17px;
        color: #323232;
        background-color: #F7F6F3; }
        .top-menu .top-menu__left .left__item .left__link:not(.left__link--active):hover .left__description,
        .top-menu .top-menu__left .left__item .left__link:not(.left__link--active):focus .left__description {
          border-bottom: none; }
      .top-menu .top-menu__left .left__item .left__link:not(.left__link--active):active {
        -webkit-box-shadow: inset 0px 2px 1px #696969;
                box-shadow: inset 0px 2px 1px #696969; }
        .top-menu .top-menu__left .left__item .left__link:not(.left__link--active):active .left__description {
          border-bottom: none; }
      .top-menu .top-menu__left .left__item .left__link--active {
        padding: 8px 14px;
        border-radius: 17px;
        background-color: #D07058; }
        .top-menu .top-menu__left .left__item .left__link--active .left__description {
          border-bottom: none; }
    .top-menu .top-menu__left li:hover .left__catalog,
    .top-menu .top-menu__left li:focus .left__catalog {
      display: block; }
      .top-menu .top-menu__left li:hover .left__catalog .left__catalog-title,
      .top-menu .top-menu__left li:hover .left__catalog .left__catalog-link,
      .top-menu .top-menu__left li:focus .left__catalog .left__catalog-title,
      .top-menu .top-menu__left li:focus .left__catalog .left__catalog-link {
        display: block;
        font-size: 14px;
        line-height: 16px;
        color: #323232; }
      .top-menu .top-menu__left li:hover .left__catalog .left__catalog-title,
      .top-menu .top-menu__left li:focus .left__catalog .left__catalog-title {
        position: relative;
        padding: 10px 65px 11px 21px;
        font-weight: bold; }
      .top-menu .top-menu__left li:hover .left__catalog .left__catalog-title::after,
      .top-menu .top-menu__left li:focus .left__catalog .left__catalog-title::after {
        content: "";
        position: absolute;
        left: 8px;
        bottom: 0px;
        width: 128px;
        height: 1px;
        background-color: #d1d0ce; }
      .top-menu .top-menu__left li:hover .left__catalog .left__catalog-link,
      .top-menu .top-menu__left li:focus .left__catalog .left__catalog-link {
        padding: 8px 21px;
        text-decoration: none;
        outline: none; }
      .top-menu .top-menu__left li:hover .left__catalog .left__catalog-link:hover,
      .top-menu .top-menu__left li:hover .left__catalog .left__catalog-link:focus,
      .top-menu .top-menu__left li:hover .left__catalog .left__catalog-item--active,
      .top-menu .top-menu__left li:focus .left__catalog .left__catalog-link:hover,
      .top-menu .top-menu__left li:focus .left__catalog .left__catalog-link:focus,
      .top-menu .top-menu__left li:focus .left__catalog .left__catalog-item--active {
        background-color: #fbded7; }
      .top-menu .top-menu__left li:hover .left__catalog .left__catalog-link:active,
      .top-menu .top-menu__left li:focus .left__catalog .left__catalog-link:active {
        background-color: #f6b5a5; }
      .top-menu .top-menu__left li:hover .left__catalog .left__catalog-link--on-page,
      .top-menu .top-menu__left li:focus .left__catalog .left__catalog-link--on-page {
        background-color: #d07058; }
  .top-menu .top-menu__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
    padding: 28px 14px 26px 10px;
    list-style: none; }
    .top-menu .top-menu__right .right__item .right__link {
      padding: 8px 16px 8px 45px;
      border-radius: 17px;
      font-family: "Roboto-Medium", "Arial", sans-serif;
      font-size: 14px;
      line-height: 16px;
      color: #ffffff;
      text-decoration: none;
      background-color: #9eb2a7;
      outline: none; }
    .top-menu .top-menu__right .right__item .form-search {
      position: absolute;
      top: 29px;
      right: 0px;
      display: none;
      z-index: 5; }
    .top-menu .top-menu__right .right__item .form-account {
      position: absolute;
      top: 29px;
      right: 0px;
      display: none;
      z-index: 5; }
    .top-menu .top-menu__right li:hover .form-search,
    .top-menu .top-menu__right li:focus .form-search {
      display: block; }
      .top-menu .top-menu__right li:hover .form-search .form-search__container,
      .top-menu .top-menu__right li:focus .form-search .form-search__container {
        padding: 20px 17px;
        border-radius: 5px;
        background-color: #f8f7f4; }
        .top-menu .top-menu__right li:hover .form-search .form-search__container input[type="search"],
        .top-menu .top-menu__right li:focus .form-search .form-search__container input[type="search"] {
          padding: 11px 16px;
          border: 1px solid #d3d3d2;
          border-radius: 5px;
          width: 307px;
          font-size: 14px;
          line-height: 24px;
          color: #323232;
          outline: none; }
        .top-menu .top-menu__right li:hover .form-search .form-search__container input[type="search"]:hover,
        .top-menu .top-menu__right li:hover .form-search .form-search__container input[type="search"]:focus,
        .top-menu .top-menu__right li:focus .form-search .form-search__container input[type="search"]:hover,
        .top-menu .top-menu__right li:focus .form-search .form-search__container input[type="search"]:focus {
          padding: 10px 15px;
          border: 2px solid #c7c6c5; }
        .top-menu .top-menu__right li:hover .form-search .form-search__container input[type="search"]:active,
        .top-menu .top-menu__right li:focus .form-search .form-search__container input[type="search"]:active {
          padding: 10px 15px;
          border: 2px solid #8fbdec; }
    .top-menu .top-menu__right li:hover .form-account,
    .top-menu .top-menu__right li:focus .form-account {
      display: block; }
      .top-menu .top-menu__right li:hover .form-account .form-account__container,
      .top-menu .top-menu__right li:focus .form-account .form-account__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 20px 18px;
        border-radius: 5px;
        background-color: #f8f7f4; }
        .top-menu .top-menu__right li:hover .form-account .form-account__container input[type="text"],
        .top-menu .top-menu__right li:hover .form-account .form-account__container input[type="password"],
        .top-menu .top-menu__right li:focus .form-account .form-account__container input[type="text"],
        .top-menu .top-menu__right li:focus .form-account .form-account__container input[type="password"] {
          margin-bottom: 20px;
          padding: 9px 13px;
          border: 1px solid #d3d3d2;
          border-radius: 5px;
          width: 241px;
          font-size: 14px;
          line-height: 24px;
          outline: none; }
        .top-menu .top-menu__right li:hover .form-account .form-account__container input[type="text"]:hover,
        .top-menu .top-menu__right li:hover .form-account .form-account__container input[type="text"]:focus,
        .top-menu .top-menu__right li:hover .form-account .form-account__container input[type="password"]:hover,
        .top-menu .top-menu__right li:hover .form-account .form-account__container input[type="password"]:focus,
        .top-menu .top-menu__right li:focus .form-account .form-account__container input[type="text"]:hover,
        .top-menu .top-menu__right li:focus .form-account .form-account__container input[type="text"]:focus,
        .top-menu .top-menu__right li:focus .form-account .form-account__container input[type="password"]:hover,
        .top-menu .top-menu__right li:focus .form-account .form-account__container input[type="password"]:focus {
          padding: 8px 12px;
          border: 2px solid #c7c6c5; }
        .top-menu .top-menu__right li:hover .form-account .form-account__container input[type="text"]:active,
        .top-menu .top-menu__right li:hover .form-account .form-account__container input[type="password"]:active,
        .top-menu .top-menu__right li:focus .form-account .form-account__container input[type="text"]:active,
        .top-menu .top-menu__right li:focus .form-account .form-account__container input[type="password"]:active {
          padding: 8px 12px;
          border: 2px solid #8fbdec; }
        .top-menu .top-menu__right li:hover .form-account .form-account__container .form-account__item:last-child,
        .top-menu .top-menu__right li:focus .form-account .form-account__container .form-account__item:last-child {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .top-menu .top-menu__right li:hover .form-account .form-account__container .form-account__item:last-child .form-account__button,
          .top-menu .top-menu__right li:focus .form-account .form-account__container .form-account__item:last-child .form-account__button {
            padding: 14px 22px;
            border-radius: 25px; }
            .top-menu .top-menu__right li:hover .form-account .form-account__container .form-account__item:last-child .form-account__button span,
            .top-menu .top-menu__right li:focus .form-account .form-account__container .form-account__item:last-child .form-account__button span {
              font-weight: bold;
              font-size: 18px;
              line-height: 24px; }
          .top-menu .top-menu__right li:hover .form-account .form-account__container .form-account__item:last-child .form-account__links,
          .top-menu .top-menu__right li:focus .form-account .form-account__container .form-account__item:last-child .form-account__links {
            padding: 5px 5px 5px 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column; }
            .top-menu .top-menu__right li:hover .form-account .form-account__container .form-account__item:last-child .form-account__links a,
            .top-menu .top-menu__right li:focus .form-account .form-account__container .form-account__item:last-child .form-account__links a {
              text-decoration: none;
              outline: none; }
              .top-menu .top-menu__right li:hover .form-account .form-account__container .form-account__item:last-child .form-account__links a span,
              .top-menu .top-menu__right li:focus .form-account .form-account__container .form-account__item:last-child .form-account__links a span {
                border-bottom: 1px solid #b2b2b2;
                font-size: 13px;
                color: #323232; }
            .top-menu .top-menu__right li:hover .form-account .form-account__container .form-account__item:last-child .form-account__links a:hover,
            .top-menu .top-menu__right li:hover .form-account .form-account__container .form-account__item:last-child .form-account__links a:focus,
            .top-menu .top-menu__right li:hover .form-account .form-account__container .form-account__item:last-child .form-account__links a:active,
            .top-menu .top-menu__right li:focus .form-account .form-account__container .form-account__item:last-child .form-account__links a:hover,
            .top-menu .top-menu__right li:focus .form-account .form-account__container .form-account__item:last-child .form-account__links a:focus,
            .top-menu .top-menu__right li:focus .form-account .form-account__container .form-account__item:last-child .form-account__links a:active {
              background-color: transparent; }
              .top-menu .top-menu__right li:hover .form-account .form-account__container .form-account__item:last-child .form-account__links a:hover span,
              .top-menu .top-menu__right li:hover .form-account .form-account__container .form-account__item:last-child .form-account__links a:focus span,
              .top-menu .top-menu__right li:hover .form-account .form-account__container .form-account__item:last-child .form-account__links a:active span,
              .top-menu .top-menu__right li:focus .form-account .form-account__container .form-account__item:last-child .form-account__links a:hover span,
              .top-menu .top-menu__right li:focus .form-account .form-account__container .form-account__item:last-child .form-account__links a:focus span,
              .top-menu .top-menu__right li:focus .form-account .form-account__container .form-account__item:last-child .form-account__links a:active span {
                border-bottom-color: rgba(232, 77, 55, 0.3);
                color: #e84d37; }
    .top-menu .top-menu__right .right__item:first-child {
      position: relative; }
      .top-menu .top-menu__right .right__item:first-child .right__link {
        padding: 24px 8px 8px 8px;
        border-radius: 50%;
        font-size: 0px;
        line-height: 0px; }
      .top-menu .top-menu__right .right__item:first-child .icon-search {
        width: 17px;
        height: 17px;
        fill: #ffffff; }
    .top-menu .top-menu__right .right__item:nth-child(2) {
      position: relative; }
      .top-menu .top-menu__right .right__item:nth-child(2) .icon-enter {
        position: absolute;
        left: 10px;
        width: 29px;
        height: 27px;
        fill: #ffffff; }
    .top-menu .top-menu__right .right__item:nth-child(3) {
      position: relative; }
      .top-menu .top-menu__right .right__item:nth-child(3) .icon-bascket,
      .top-menu .top-menu__right .right__item:nth-child(3) .icon-bascket-full {
        position: absolute;
        left: 11px; }
      .top-menu .top-menu__right .right__item:nth-child(3) .icon-bascket {
        width: 29px;
        height: 28px; }
      .top-menu .top-menu__right .right__item:nth-child(3) .icon-bascket-full {
        width: 21px;
        height: 20px; }
    .top-menu .top-menu__right .right__item:not(:last-child) a:hover,
    .top-menu .top-menu__right .right__item:not(:last-child) a:focus {
      color: #323232;
      background-color: #ffffff; }
      .top-menu .top-menu__right .right__item:not(:last-child) a:hover .icon-search,
      .top-menu .top-menu__right .right__item:not(:last-child) a:hover .icon-enter,
      .top-menu .top-menu__right .right__item:not(:last-child) a:focus .icon-search,
      .top-menu .top-menu__right .right__item:not(:last-child) a:focus .icon-enter {
        fill: #000000; }
    .top-menu .top-menu__right .right__item {
      margin-right: 11px; }
      .top-menu .top-menu__right .right__item .right__link--active {
        color: #323232;
        background-color: #ffffff; }

.header__copyright {
  position: absolute;
  right: 24px;
  bottom: -39px;
  text-align: right; }
  .header__copyright .copyright__operating-mode {
    padding: 0px;
    margin: 0px;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 14px; }
  .header__copyright .copyright__phone {
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #ffffff; }
    .header__copyright .copyright__phone a {
      color: #ffffff;
      text-decoration: none;
      outline: none; }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 313px 265px 51px 265px; }
  .slider .slider__one,
  .slider .slider__two,
  .slider .slider__three {
    position: relative; }
  .slider .slider__two,
  .slider .slider__three {
    display: none; }
  .slider .slider-one__pic1,
  .slider .slider-one__pic2,
  .slider .slider-two__pic1,
  .slider .slider-two__pic2,
  .slider .slider-three__pic1,
  .slider .slider-three__pic2 {
    position: absolute; }
  .slider .slider-one__pic1,
  .slider .slider-two__pic1,
  .slider .slider-three__pic1 {
    z-index: -1;
    top: -310px;
    left: 12px; }
  .slider .slider-one__pic2,
  .slider .slider-two__pic2,
  .slider .slider-three__pic2 {
    z-index: -2;
    top: -267px;
    right: 11px; }
  .slider .slider-one__description,
  .slider .slider-two__description,
  .slider .slider-three__description {
    margin: 0px;
    margin-bottom: 39px;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.5px;
    text-align: center; }
    .slider .slider-one__description span,
    .slider .slider-two__description span,
    .slider .slider-three__description span {
      letter-spacing: -0.7px; }
  .slider .slider-three__description {
    margin-right: 10px;
    margin-left: 10px; }
  .slider .slider__controller {
    position: relative;
    text-align: center; }
    .slider .slider__controller .controller__pagination {
      position: absolute;
      top: 11px;
      left: -238px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0px;
      padding: 0px;
      list-style: none; }
    .slider .slider__controller .controller__pagination-item {
      margin-right: 8px;
      width: 21px;
      height: 21px;
      border: 2px solid #ffffff;
      border-radius: 50%;
      cursor: pointer; }
    .slider .slider__controller .controller__pagination-item--active {
      background-color: #ffffff; }
    .slider .slider__controller .controller__pagination-item:not(.controller__pagination-item--active):hover,
    .slider .slider__controller .controller__pagination-item:not(.controller__pagination-item--active):focus {
      background-color: #b2c1b7; }
    .slider .slider__controller .controller__pagination-item:not(.controller__pagination-item--active):active {
      background-color: #ffffff; }
    .slider .slider__controller .controller__button {
      padding: 13px 40px;
      font-weight: bold;
      font-size: 32px;
      line-height: 44px;
      letter-spacing: -0.9px;
      border-radius: 32px; }

.banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 27px 24px 45px; }
  .banner .banner-rapsberry__background,
  .banner .banner-chocolate__background {
    position: absolute;
    top: 0px;
    z-index: -1; }
  .banner .banner-rapsberry__background {
    left: 27px; }
  .banner .banner-chocolate__background {
    right: 27px; }
  .banner .banner-rapsberry,
  .banner .banner-chocolate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 520px; }
  .banner .banner-rapsberry {
    margin-right: 66px; }
  .banner .banner__title {
    margin: 0px;
    padding: 0px;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    letter-spacing: -0.6px; }
  .banner .banner__description {
    margin: 0px;
    padding: 0px;
    margin-bottom: 43px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -0.4px; }
  .banner .banner__button {
    margin-left: auto;
    padding: 11px 20px;
    border-radius: 25px; }
    .banner .banner__button span {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -0.4px; }

.hits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 40px;
  padding-left: 27px; }
  .hits .hits__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 267px;
    margin-right: 26px; }
    .hits .hits__item .icon-hits {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 61px;
      height: 61px; }
    .hits .hits__item .hits__title {
      margin: 0px;
      text-align: center; }
      .hits .hits__item .hits__title .hits__link {
        font-family: inherit;
        font-size: 16px;
        font-weight: normal;
        color: inherit;
        text-decoration: none;
        letter-spacing: 0.3px; }
        .hits .hits__item .hits__title .hits__link span {
          border-bottom: 1px solid #adbdb4; }
      .hits .hits__item .hits__title .hits__link:hover span,
      .hits .hits__item .hits__title .hits__link:focus span,
      .hits .hits__item .hits__title .hits__link:active span {
        border-bottom-color: rgba(232, 77, 55, 0.3);
        color: #e84d37; }
    .hits .hits__item .hits__pic {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      margin-bottom: 12px; }
  .hits .hits__price {
    position: absolute;
    top: 225px;
    left: 0px;
    margin: 0px;
    font-size: 45px;
    font-weight: bold;
    line-height: 13px; }
    .hits .hits__price span {
      font-size: 30px; }

.seo {
  position: relative;
  padding: 62px 27px 24px 47px; }
  .seo .seo__title {
    margin: 0px;
    margin-bottom: 21px;
    font-family: "Roboto-Medium", "Arial", sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    color: #323232;
    letter-spacing: 0.5px; }
  .seo .seo__pic {
    position: absolute;
    top: 37px;
    left: 27px;
    z-index: -1; }
  .seo .seo__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .seo .seo__left {
    padding-left: 56px;
    width: 531px; }
  .seo .seo__right {
    padding-left: 92px;
    width: 567px; }
  .seo .seo__description {
    position: relative;
    margin: 0px;
    color: #323232;
    letter-spacing: 0.2px; }
    .seo .seo__description .icon-ice-cream,
    .seo .seo__description .icon-eco,
    .seo .seo__description .icon-cow,
    .seo .seo__description .icon-thermo {
      position: absolute;
      top: -13px;
      left: -57px;
      width: 49px;
      height: 49px; }
  .seo .seo__description:first-child {
    margin-bottom: 22px; }

.info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 63px 27px 38px 46px; }
  .info .news__pic,
  .info .mailing__pic-1,
  .info .mailing__pic-2 {
    position: absolute;
    z-index: -1; }
  .info .news__pic {
    top: 40px;
    left: 27px; }
  .info .mailing__pic-1 {
    top: 40px;
    right: 27px; }
  .info .mailing__pic-2 {
    top: 44px;
    right: 32px; }
  .info .info__news,
  .info .info__mailing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .info .info__news {
    margin-right: 294px;
    width: 300px; }
    .info .info__news .news__title {
      margin: 0px;
      margin-bottom: 5px;
      font-family: "Roboto-Medium", "Arial", sans-serif;
      font-size: inherit;
      line-height: inherit;
      font-weight: normal;
      color: #323232;
      letter-spacing: 0.2px; }
    .info .info__news .news__description {
      font-size: 24px;
      line-height: 30px;
      font-weight: bold;
      color: #323232;
      letter-spacing: -0.7px;
      outline: none; }
    .info .info__news .news__description:hover,
    .info .info__news .news__description:focus,
    .info .info__news .news__description:active {
      border-bottom-color: rgba(232, 77, 55, 0.3);
      color: #e84d37; }
  .info .info__mailing {
    padding-top: 11px;
    width: 520px; }
    .info .info__mailing .mailing__description {
      margin: 0px;
      margin-bottom: 36px;
      color: #5a5a5a;
      letter-spacing: 0.2px; }
    .info .info__mailing input[type="text"] {
      margin-right: 7px;
      padding: 9px 12px;
      border: 1px solid #d3d3d2;
      border-radius: 5px;
      width: 368px;
      font-size: 16px;
      line-height: 24px;
      color: #323232;
      outline: none; }
    .info .info__mailing input[type="text"]:hover,
    .info .info__mailing input[type="text"]:focus {
      padding: 8px 11px;
      border: 2px solid #c7c6c5; }
    .info .info__mailing input[type="text"]:active {
      padding: 8px 11px;
      border: 2px solid #8fbdec; }
    .info .info__mailing .mailing-form__button {
      padding: 10px 18px;
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;
      letter-spacing: -0.5px;
      border-radius: 25px; }

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@font-face {
  font-family: "Roboto-Black";
  src: url(../fonts/Roboto-Black.ttf) format(ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-BlackItalic";
  src: url(../fonts/Roboto-BlackItalic.ttf) format(ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.ttf) format(ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-BoldItalic";
  src: url(../fonts/Roboto-BoldItalic.ttf) format(ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-Italic";
  src: url(../fonts/Roboto-Italic.ttf) format(ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto-Light.ttf) format(ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-LightItalic";
  src: url(../fonts/Roboto-LightItalic.ttf) format(ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf) format(ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-MediumItalic";
  src: url(../fonts/Roboto-MediumItalic.ttf) format(ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf) format(ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-Thin";
  src: url(../fonts/Roboto-Thin.ttf) format(ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-ThinItalic";
  src: url(../fonts/Roboto-ThinItalic.ttf) format(ttf);
  font-style: normal;
  font-weight: normal; }

html,
body {
  position: relative;
  margin: auto;
  width: 1200px;
  font-family: "Roboto-Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff; }

body {
  background-image: url(../img/backlight-slider.png);
  background-repeat: no-repeat; }

.fone-one {
  background-color: #849d8f; }

.fone-two {
  background-color: #8996a6; }

.fone-three {
  background-color: #9d8b84; }

/*# sourceMappingURL=style.css.map */
