$lightblue: #81b3d2;
$white: #ffffff;
$font-family: "PT Sans", "Arial", sans-serif;
$font-family-bold: "PT Sans", "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;