$roboto-black: "Roboto-Black", "Arial", sans-serif;
$roboto-blackitalic: "Roboto-BlackItalic", "Arial", sans-serif;
$roboto-bold: "Roboto-Bold", "Arial", sans-serif;
$roboto-bolditalic: "Roboto-BoldItalic", "Arial", sans-serif;
$roboto-italic: "Roboto-Italic", "Arial", sans-serif;
$roboto-light: "Roboto-Light", "Arial", sans-serif;
$roboto-lightitalic: "Roboto-LightItalic", "Arial", sans-serif;
$roboto-medium: "Roboto-Medium", "Arial", sans-serif;
$roboto-mediumitalic: "Roboto-MediumItalic", "Arial", sans-serif;
$roboto-regular: "Roboto-Regular", "Arial", sans-serif;
$roboto-thin: "Roboto-Thin", "Arial", sans-serif;
$roboto-thinitalic: "Roboto-ThinItalic", "Arial", sans-serif;
